/*html,body{
	height:98%%;
}*/
body{
  font-family:'Lato', sans-serif;
}
.navbar-nav{
	float:right;
  .navbar-default .navbar-nav > li > a {
  padding-top: 19px;
  padding-bottom: 27px;
  font-size: 19px;
  }
}
.navbar-nav > li > a {
  font-size:22px;
}
.overlay{
  width: 400px;
  height: 400px;
  padding: 4px;
  margin:0 auto;
  border-radius: 50%;
  border: 2px dashed tomato;
  padding:50px;
  h5{
      font-size: 20px
  }
}
.navegacion{
  .navbar-default {
    background-color:rgba(208, 254, 245, 0 );
    border-color: rgba(208, 254, 245, 0);
  }
}
#banner{
	background-image:url(../img/img-home.png);
	height:100%;
  width:100%;
  display:table;
  background-size:cover;
}
button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  border-radius: 11px;
  padding: 4px 9px;
  background-color: white;
  border-color: gray;
}
.btn-default {
	background-color:rgb(158, 157, 157);
}
.btn-xs, .btn-group-xs > .btn {
  padding: 1px 5px;
  font-size: 16px;
  line-height: 1.5;
  border-radius: 9px;
}
.btn-xs, .btn-group-xs > .btn, .botonb li {
  padding: 4px 22px;
  font-size: 14px;
  margin-top: -6px;
}

.row {
  margin-left: 0px; 
  margin-right: 0px; 
}
nav.navbar.navbar-default{
  position: absolute;
  width: 100%;
}
.dropdown {
  margin-top: 13px;
  .dropdown-menu{
  min-width: 50px;
  padding: 4px 8px;
  }
}
.portada{
  text-align:right;
  vertical-align:middle;
  display:table-cell;
}
.foto {
  text-align:center;
  padding-top:73px;
}
.texto{
  padding: 0 102px;
}
.texto h3{
  margin-top: 37px;
  text-align: center;
  color:#30C2E3;
  font-size:30px;
} 
.texto h4{
  margin-top: 26px;
  text-align: center;
  font-size:19px;
  padding-bottom:13px;
  line-height: 1.5;

}
@media screen and (max-width:480px){
  .cuadro-h{
    background-color:white;
  }
}
@media screen and (max-width:480px){
  .boton-f {
    .btn-primary {
      padding: 11px 33px !important;
    }
  }
}
@media screen and (max-width:480px){
  .boton-e{
    .btn-primary {
      border-radius: 16px !important;
      padding: 8px 34px !important;
      font-size: 17px !important;
    }
  } 
}
@media screen and (max-width:480px){
  #metodologia{
    .t-m-1{
    padding:0;
    left:0 !important; 
    padding-top:0 !important;
  }
  .t-m-{
    padding-top:0 !important;
    right:0 !important;
  }
    .frase-m{
      hr.linea-2{
          width:100%;
          position:initial;
          transform:rotate(0deg);
      }   
      .t-m-2 p{
        padding-left:0;
        padding-right:0;
        }
      .t-m-2 h3{
          padding-left:0!important;
        }
    }
    hr.linea{
      width:100%;
      position:initial;
      transform:rotate(0deg);
    }
    hr.linea-1{
      width:100%;
      position:initial;
      transform:rotate(0deg);
    }
  }
}

.circulo-1{
  background-color: #FF5732;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  padding: 4px;
  margin:0 auto;
  position: absolute;
  top: 0;
  left: 85px;
}
.circulo-2{
  border-radius: 50%;
  border: dashed 2px white;
  /*padding: 75px;*/
  width: 390px;
  height: 390px;
  h4{
    margin-top: 25%;
    color: white;
    line-height: 1.5;
  }
}
.boton{
  text-align: center;
  padding: 26px 0;
  color:white;
  
}
.boton .btn-default {
  background-color: rgb(255, 106, 73);
  color:white;
}
.btn-xs,.boton {
  padding: 10px 37px;
  font-size: 15px;
  color:white;
}
.icono-metodologia {
  position: relative;
  bottom: -91px;
  right: 50%;
}
.icono-metodologia img{
  border-radius:50%;
}
#metodologia{
  h1{
    padding-top:5%;
    color:#31C7E7;
    padding-bottom:3%;
  }
  span{
    color:#FF5732;
    line-height: 1.5;
  }
  .t-m-{
    padding-top: 80%;
    position: relative;
    right: 49px;
    h3{
      color:#FF5732;
    }
    p{
      margin-left:5%;
      font-size: 18px;
    }
  }
  .t-m-1{
    padding-top: 80%;
    position: relative;
    left: 49px;
    h3{
      color:#FF5732;
    }
    p{
      font-size:18px;
    }
  }
}
.texto-meto{
  padding-top: 6%;
}
img.icono-1{
    position: relative;
    left: 275px;
    top: 10px;
}
hr.linea{
    width: 79%;
    top: 162px;
    position: relative;
    float: left;
    transform: rotate(526deg);
    left: 161px;
    border: 2px dashed #FF5732;
}
.p-texto{
    text-align: center;
    color: white;
    padding-top:70px;
    padding-bottom:38px;
}
.perfil-1{
    margin-top: 29px;
}
.perfil-1 img{
    border-radius: 50%;
  margin-top: -111px;
  margin-left: 270px;
}
.perfil-1 h3{
  margin-left: 33px;
  padding-top: 32px;
  font-size: 28px;
  color: white;
}
hr.raya-2{
    width: 50%;
  float: left;
  margin-left: 41px;
  color: white;
  border: 1px dashed;
}
  
.numero{
  text-align: center;
  padding-left: 100%;
  margin-top: 48px;
}
hr.raya{
    transform: rotate(450deg);
  position: relative;
  top: 107px;
  right: -171px;
}

hr.raya-1{
  width: 22%;
  top: 41px;
  position: relative;
  float: right;
  transform: rotate(450deg);
  right: 123px;
  color: white;
}
.perfil{
  margin-top:29px;
  img{
    border-radius: 50%;
  float: left;
  margin-top: -77px;
  margin-left: -54px;
  }
  h3{
  margin-left: 33px;
  padding-top: 32px;
  font-size: 28px;
  color: white;
  
  }
   hr{
     width: 50%;
  float: left;
  margin-left: 41px;
  color: white;
  border: 1px dashed;
  }
}

.modal-content {
  position: relative;
  background-color: #fff;
  /* border: 10px solid #999; */
  border: 13px solid rgba(0, 0, 0, 0.2);
  border-radius: 19px;
    background-clip: padding-box;
}
.modal-header {
  
  padding-top: 48px;
  text-align: center;
  color: skyblue;
  border-bottom: 0px;
 
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: #fff;
  margin: 0 auto;
  /* text-align: center; */
  width: 321px;
  background-image: none;
  border: 1px solid #ccc;
  border-radius:0px
}
.t-cuenta{
  padding-left: 127px;
  font-size: 19px;
  padding-top:12px;
  color:gray;
}
.cuenta{
  padding-left: 127px;
  font-size: 19px;
  padding-bottom:50px;
  color:gray;
}
.modal-footer {
  text-align: right;
  border-top: 0px;
  padding-right: 22%;
}
.btn-primary {
  color: #fff;
  background-color: #87CEEB;
  border-color: #FFFFFF;
  padding: 9px 25px;
  border-radius: 10px;
}
.modal-title {
  margin: 0;
  line-height: 1.42857;
  font-size: 38px;
}
hr.linea-1{
   width: 79%;
  top: 156px;
  position: relative;
  float: right;
  transform: rotate(554deg);
  right: 160px;
  border: 2px dashed #FF5732;
   
}
.navbar{
  background-color: transparent;
  transition:0.8s ease-in-out;
  border-radius: 0px;
  position: absolute;
  &.scroll{
    background-color: skyblue;
    z-index: 11;
    position: fixed !important;
  }
}
.discurso{
  margin-left: -108px;
  margin-top: 78px;
  font-size: 19px;
  color: white;
}
.boton-p{
  text-align: center;
  padding-top: 80px;
  margin-left:69px;
  .btn-primary {
    color: #fff;
  background-color: #1DA9E1;
  border-color: #FFFFFF;
  padding: 18px 35px;
  border-radius: 22px;
  font-size:19px;
  }
}
hr.linea-2{
  width: 13%;
  top: -84px;
  position: relative;
  float: right;
  transform: rotate(450deg);
  right: 225px;
  border: 2px dashed #FF5732;
}
.t-m-2{
      position: relative;
      margin-top: 18%;
      left: 8px;
    p{
      font-size: 17px;
      padding-left: 132px;
      padding-right: 154px
    
    }
    h3{
        padding-left:87px;
        color: #FF5732;
    }
}
img.icono-2 {
  position: relative;
  right: 170px;
  top: 73px;
}
.postulante{
  background-image:url(../img/img-02.png);
  height:181%;
  width:100%;
}
@media screen and (max-width:480px){
  .texto{
    padding:0;
  }
}
@media screen and (max-width:480px){
  #banner{
    background:none;
  }
}
.f-texto{
  text-align:center;
  hr{
    border:1px dashed rgb(255, 173, 154);
    width:100%;
  }
  h1{
    color:#FF5732;
    padding-bottom:25px;
  }
  h3{
    font-size:21px;
    }
}
.boton-f {
  text-align: center;
  padding: 42px;
  .btn-primary{
    background-color: #ff6a49;
    border-color: #ff6a49;
    padding: 16px 63px;
    border-radius: 20px;
    font-size: 20px
  }
}
img.responsive.hidden-lg.hidden-md {
  width: 100%;
}
.f-texto{
  padding:4%;
  h3{
    color:#A5A4A4;
    font-size:30px;
  }
}
.iconos img{
  text-align:center;
  border-radius:50%;
}
.row.iconos {
  text-align: center;
  padding: 0px 182px;
}
.row.iconos p{
  font-size:18px;
  
}
.row.iconos h5{
  color:#28C4E5;
  font-size:20px;
}
.row.iconos h3{
  
    padding-bottom:13px;
    font-size:26px;
  
}
@media screen and (max-width:480px){
  .row.iconos{
    padding:0;
  }
}
.f-ceducativos{
  text-align:center;
  padding-bottom: 3%;
  padding-top: 5%;
  
  
  hr{
    border:1px dashed white;
      width: 100%;
  }
  h2{
    color:white;
    font-size: 27px;
  }
  h3{
    color:rgb(251, 241, 127);
    font-size:27px;
  }
  span{
    color:white;
    font-size:18px;
  }
}
.boton-E {
  text-align: center;
  padding: 35px;
  padding-bottom:7%;
  .btn-primary{
    border-color: white;
    background-color: rgba(51, 122, 183, 0);
    border-radius: 21px;
    padding: 14px 48px;
    font-size: 20px;
    border: 3px solid;
   
  }
}
#color{
  background-color:rgb(119, 210, 72);
}
.iconos2 img{
  border-radius:50%;
}
.iconos2{
  text-align:center;
  padding:0 7%;
  h3{
    color: white;
    font-size: 28px;
    padding-bottom: 20px;
  }
  p{
    color:white;
    font-size:18px;
  }
}
@media screen and (max-width:480px){
  .row.iconos2{
    padding:0;
  }
}
#oportunidades{
  background-image:url(../img/img-oportunidades-24.png);
  padding: 63px 217px;
}
.hoja{
  background-color:white;
  height:125%;
  width:100%;
  h1{
    text-align:center;
    padding-top:7%;
    padding-bottom:3%;
    color:#9F9E9E;
  }
}
.servicios-f{
  padding:0 8%;
  color: #9C9B9B;;
  h4{
    padding:0 5%;
    text-decoration:underline;
    color:#28C5E6;
    font-size: 20px;
  }
}
  hr{
     border: 1px dashed rgb(200, 198, 198);
     width: 79%;
    
  }

.boton-l{
  float:right;
  color:red;
  .btn-primary{
    border-color: #FF846A;
    background-color: white;
    border-radius: 10px;
    padding: 6px 20px;
    color:#FF846A;
    border: 2px solid;
  }
}
li{
  list-style:none;
}
.boton-s{
  text-align:center;
  padding-top:2%;
  .btn-primary{
    border-color:gray;
    background-color:gray;
    border-radius: 11px;
    padding: 5px 18px;
  }
}
.blog-f{
  h2{
    text-align:center;
    padding:6%;
    color:#A09F9F;
    font-size:40px;
  }
  img{
    border-radius: 50%;
    position: absolute;
    bottom: 187px;
    left: 30%;

  }
}
.b-farolito{
    
      padding: 0 16%;
    p{
      padding: 53px 21px;
      width: 249px;
      height: 213px;
      font-size: 18px;
    }
}
.boton-b{
  text-align:center;
  margin:5%;
.btn-primary{
    border-color: #28C5E6;
    background-color: #28C5E6;
    border-radius: 18px;
    padding: 1.3% 60px;
    font-size: 19px;
  
 }
}

.cuadro-h{
  background-color: #c6c6c6;
}

.cuadro-h:hover{
  background-color:orange;
}
.consulta{
  background-color:rgb(242 ,242 ,242);
  padding-bottom:45px;
 
  }

@media screen and (max-width:480px){
  .row.b-farolito{
    padding:0;
    
  }
}
.footer{
  background-color:gray;
  img{
    border-radius:50%;
    top:5%;
    position: relative;
    bottom: 11px;
  }
}
.consulta h2{
    text-align:center;
    padding: 30px;
    padding-top: 109px;
    font-size:42px;
    color:#969595;
}
.boton-c{
  float:right;
  .btn-primary {
    background-color: gray;
    border-color: gray;
  }
}
.llamanos{
  float: left;
  margin-top: 48px;
}
span.derecho {
  color: white;
  float: right;
  padding: 7px 42px;
}